p {
    font-size: xx-large;
}
body {
    background-color: rgb(0, 0, 0);
}

.matdimbutton {
    font-size: larger;
    width: 40%;
    margin: auto;
    position: relative;
    left: 30%;
    text-align: left;
    display:initial;
    
}
#tickspeed{background-color: rgb(67, 209, 166);}
#tickspeed:hover{background-color: rgb(155, 212, 196);}
#m1{background-color: rgb(221, 74, 74);}
#m1:hover{background-color: rgb(231, 168, 168);}
#m2{background-color: rgb(236, 167, 62);}
#m2:hover{background-color: rgb(240, 219, 164);}
#m3{background-color: rgb(247, 244, 114);}
#m3:hover{background-color: rgb(231, 241, 174);}
#m4{background-color: rgb(106, 196, 98);}
#m4:hover{background-color: rgb(168, 243, 178);}
#m5{background-color: rgb(95, 191, 204);}
#m5:hover{background-color: rgb(158, 228, 228);}
#m6{background-color: rgb(137, 55, 145);}
#m6:hover{background-color: rgb(158, 114, 179);}
#m7{background-color: rgb(224, 86, 190);}
#m7:hover{background-color: rgb(228, 158, 216);}
#m8{background-color: rgb(0, 0, 0); border-color: rgb(216, 216, 216); border-width: 2px; color: white;}
#m8:hover{background-color: rgb(100, 100, 100);}



#numbdisp {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    margin: auto;
}

#dimb{
    width: 18%;
    font-size: large;
    margin: auto;
    margin-top: 200px;
    position: relative;
    left: 30%;
    text-align: center;
    display:initial;
    padding:6px;
    background-color:rgb(142, 182, 78);
    height: 160px;
}
#dimb:hover{background-color: rgb(186, 252, 177);}

#galaxy{
    width: 18%;
    font-size: large;
    margin: auto;
    margin-top: -160px;
    position: relative;
    right: 30%;
    text-align: center;
    display:initial;
    padding:6px;
    background-color:rgb(78, 175, 182);
    float: right;
    height: 160px;
}
#galaxy:hover{background-color: rgb(146, 211, 219);}

#sidebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    list-style: none;
    background-color: aliceblue;
    display: block;
    width: 60px;
}